$dark-brown: #2e1f27;
$tan: #854d27;
$orange: #dd7230;
$mango: #f4c95d;
$lanzones: #e7e393;

@mixin buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font: helvetica;
  font-weight: bold;
  color: $dark-brown;
  border-radius: 0.5em;
  background-color: $mango;
  cursor: pointer;
  user-select: none;
}

html {
  background-color: $lanzones;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  background-color: $tan;
  border-radius: 0.5em;
  width: 20em;
  height: 32em;
}

.panel {
  margin-top: 0.5em;
  margin-bottom: 1em;
  background-color: $lanzones;
  border-radius: 0.5em;
  height: 9em;
  width: 100%;
  display: flex;
  justify-content: end;
}

.panelNums {
  color: $dark-brown;
  font-weight: bold;
  font-size: 3em;
  padding-top: 0.1em;
  padding-right: 0.2em;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 81%;
  height: 68%;
}

.side-buttons-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 67%;
  margin-left: 0.29em;
}

.side-buttons {
  &:hover {
    background-color: darken($orange, 8);
  }

  @include buttons();
  background-color: $orange;
  width: 3em;
  height: 5em;
}

.buttons {
  &:hover {
    background-color: darken($mango, 10);
  }

  @include buttons();
  width: 5em;
  height: 5em;
}
